@import url(http://weloveiconfonts.com/api/?family=brandico);
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

html, 
body{
  margin: 0;
  padding: 0;
  width: 1366px;
  
  font-family:'Roboto', 'Arial', sans-serif;
  color: #fafafa;
  
}

.container{
  
}

.portrait {
  width: 33%;
  height: 662px;

  float: left;
  overflow: hidden;
  
  background-color: #EB5757;
  
}



.content {
  width: 67%;
  height: 662px;
  float: right;
  overflow: hidden;
  
  background-image: url(../img/back/4.png);
  
  
}

.wrapper {
  height: 100%;
  background: rgba(18, 18, 18, 0.85);
}

.quote {
  padding-top: 227px;
  margin-left: 150px;
  margin-right: 150px;
}

.quote-text{
  font-size: 48px;
  margin-top: auto;
  margin-left: auto;
}

.quote-author{
  font-size: 24px;
  text-align: right;
}

.butt_pos {
  margin-top: 68px;
  margin-left: 190px;
  padding-bottom: 39px;
}

.butt {
  width: 235px;
  height: 77px;
  
  border-radius: 10px;
  border: 0px;
  
  font-size: 36px;
  color: #fafafa;
  font-family:'Roboto', 'Arial', sans-serif;
  font-weight: 800;
}

.new_q {
  background-color: #EB5757;
}

.twit {
  background-color: #2D9CDB;
  margin-left: 55px;
}